// This is where your application styles could go.
@import "@carbon/themes/scss/themes";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

// import Carbon styles here
@import "carbon-components/scss/globals/scss/styles.scss";

@media (min-width: 66rem) {
  .container--homepage .bx--grid {
    padding-left: 2rem;
  }
}

.bx--grid {
  max-width: unset;
}

body {
  // font-family: IBM Plex Sans;
}