@import "@carbon/themes/scss/themes";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

.footerContent {
  padding: $layout-04 $layout-05;

  background: $ui-02;
  color: $text-04;
}

.footerContent h1 {

  @include carbon--type-style('productive-heading-03');
  margin-bottom: $spacing-07;
  // margin-top: $spacing-07;
}

.footerContent h3 {
  @include carbon--type-style('productive-heading-01');
  margin-top: $spacing-08;
}

.footerContent h2 {
  @include carbon--type-style('productive-heading-03');
  margin-top: $spacing-05;
}

.footerContent p {

  @include carbon--type-style('body-long-01');
  margin-top: $spacing-05;
}

.footerText {
  border-right: 1px solid #000000;
}

.footerContent a {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: block;

  color: $text-04;

  @include carbon--type-style('body-short-01');
  margin-top: $spacing-04;
  margin-left: $spacing-04;
}

.footerContent h5 {
  @include carbon--type-style('productive-heading-01');
  margin-left: $spacing-04;
  // margin-top: $spacing-08;
  margin-bottom: $spacing-06;
}

.footerRow > div {
  padding-left: 2rem;
  padding-right: 2rem;
}

.footerContent h6 {
  text-align: center;

  @include carbon--type-style('productive-heading-01');
  margin-top: $spacing-08;
}

.footerContent button {
  margin-bottom: $spacing-05;
  width: 130px;
  float: right;
}

// .footerContent button:first-child {
//   margin-top: $spacing-08;
// }

.footerRow {
  border-bottom: 1px solid $ui-04;
  padding-bottom: $layout-04;
}

.footerLinkCol div {
  width: 33%;
}

.footerLinkCol {
  display: flex;
}

.footerRow > div {
  padding: 0px !important;
}

.footerLastRow {
  padding-top: $spacing-06;
  padding-bottom: $spacing-08;
}

.footerFollowSection{
  display: flex;
  align-items: flex-end;
}

.footerFollowSection p {
  float: right;
}

.footerButtonCol div {
  width: 100%;
  display: inline-block;
}

@media (max-width: 673px) {
  .footerButtonCol button {
    float: left;
    // margin-left: $layout-01;
  }

  .footerButtonCol {
    margin-top: $layout-03;
    display: flex;
  }
}